<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Shop</title>
    <link rel="stylesheet"  href="/css/style.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/cat"><b>Cat</b></a></li>
            <li><a href="/customer"><b>Customer</b></a></li>
            <li><a href="/order"><b>Order</b></a></li>
            <li><a href="/breed"><b>Breed</b></a></li>
            <li><a href="/report"><b>Report</b></a></li>
        </ul>
    </nav>
    <main>
        <h1>สายพันธุ์แมว</h1>
        <center>
        <table class="list" style="width: 50%;">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Name</th>
                    <th>Active</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% let no = 1 %>
                <% breeds.forEach(breed => { %>
                    <tr>
                        <td><%= no %></td>
                        <td><%= breed.name %></td>
                        <td><%= breed.is_active ? "Active" : "Inactive" %></td>
                        <td>
                            <a href="/breed/<%= breed.id %>" class="button1">View</a>
                            <a href="/breed/<%= breed.id %>/edit" class="button1">Edit</a>
                        </td>
                    </tr>
                    <% no++ %>
                <% }) %>
            </tbody>
        </table>
        <a href="/breed/create" class="CreateNewCat" ">Create New</a>
    </center>
    </main>
</body>
</html>
