<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cat</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<center>
<body>

  <% const orderId = "O" + String(order.id).padStart(3, '0') %>
  <h1><%= orderId %></h1>
  <p><strong>Customer:</strong> <%= order.customer_name %></p>
  <p><strong>Cat:</strong> <%= order.cat_name %></p>
  <p><strong>Date:</strong> <%= new Date(order.order_date).toLocaleDateString('en-GB') %></p>
  <p><strong>Quantity:</strong> <%= order.quantity %></p>
  <p><strong>Price:</strong> <%= order.unitPrice %></p>
  <p><strong>Total:</strong> <%= order.total_amount %></p>

  <a href="/order/<%= order.id %>/edit" >Edit</a>
  <a href="/order/<%= order.id %>/delete" onclick="return confirm('Are you sure you want to delete this item?')">Delete</a>
  
  <br><br>
  <!-- Corrected Back to List link -->
  <a href="/order" class="CreateNewCat">Back to List</a>
</body>
</center>
</html>