<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Shop</title>
    <link rel="stylesheet"  href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
<center>
    <nav class="navbar">
           <ul>
            <li><a href="/cat"><b>Cat</b></a></li>
            <li><a href="/customer"><b>Customer</b></a></li>
            <li><a href="/order"><b>Order</b></a></li>
            <li><a href="/breed"><b>Breed</b></a></li>
            <li><a href="/report"><b>Report</b></a></li>
        </ul>
    </nav>
    <main>
        <h1>Pet and Customer</h1>
        
        <table class="list" style="width: 80%;">
            <thead>
                <tr>
                    <th>Order Id</th>
                    <th>Cat</th>
                    <th>Customer</th>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% orders.forEach(order => { %>
                    <% const orderId = "O" + String(order.id).padStart(3, '0')  %>
                    <tr>
                        <td><%= orderId %></td>
                        <td><%= order.cat_name %></td>
                        <td><%= order.customer_name %></td>
                        <td><%= new Date(order.order_date).toLocaleDateString('en-GB') %></td>
                        <td><%= order.total_amount %></td>
                        <td>
                            <a href="/order/<%= order.id %>" class="button1">View</a>
                            <a href="/order/<%= order.id %>/edit" class="button1">Edit</a>
                            <a href="/order/<%= order.id %>/delete" onclick="return confirm('Are you sure you want to delete this order?')" class="button1">Delete</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <a href="/order/create" class="CreateNewCat">Create New</a>
    </center>
    </main>
</body>
</html>
