<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cat Shop</title>
    <link rel="stylesheet"  href="/css/style.css">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="/cat"><b>รายการแมว</b></a></li>
            <li><a href="/customer"><b>ลูกค้า</b></a></li>
            <li><a href="/order"><b>รายการ</b></a></li>
            <li><a href="/breed"><b>สายพันธุ์แมว</b></a></li>
            <li><a href="/reports"><b>รายงานการซื้อ</b></a></li>
        </ul>
    </nav>
    <main>
        <h1>ลูกค้า</h1>
        <center>
        <table class="list" style="width: 80%;">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <!-- <th>Name</th> -->
                    <!-- <th>Email</th> -->
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% customers.forEach(item => { %>
                    <tr>
                        <td><%= item.id %></td>
                        <td><%= item.username %></td>
                        <!-- <td><%= item.firstName + " " + item.lastName %></td> -->
                        <!-- <td><%= item.email %></td> -->
                        <td><%= item.phoneNumber %></td>
                        <td>
                            <a href="/customer/<%= item.id %>" class="button1">View</a>
                            <a href="/customer/<%= item.id %>/edit" class="button1">Edit</a>
                            <a href="/customer/<%= item.id %>/delete" onclick="return confirm('Are you sure you want to delete this item?')" class="button1">Delete</a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
        <a href="/customer/create" class="CreateNewCat">Create New</a>
    </center>
    </main>
</body>
</html>
